spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/userDB
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      connection-timeout: 5000
      idle-timeout: 300000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  cache:
    type: redis
    redis:
      time-to-live: 600000  # 10 мин для кэша поиска
      use-key-prefix: true
      key-prefix: user-service

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s
      connect-timeout: 1s
      client-type: lettuce
      lettuce:
        pool:
          enabled: true
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 1s
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
    consumer:
      group-id: user-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

jwt:
  secret: ${JWT_SECRET:change_me_in_prod}
  access-expiration-ms: 900000      # 15 мин
  refresh-expiration-ms: 2592000000 # 30 дней

management:
  server:
    port: 8081
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
    metrics:
      access: unrestricted

logging:
  level:
    ru.sup.userservice: DEBUG
    org.springframework.cache: TRACE
    org.springframework.data.redis: DEBUG